In [23]:
import yfinance as yf
import pandas as pd

# Define the stock ticker and the date range
ticker = "SPY"
start_date = "2000-01-23"
end_date = "2025-01-22"

# Fetch historical stock data
try:
    stock = yf.Ticker(ticker)
    stock_data = stock.history(start=start_date, end=end_date, interval="1d")

    # Check if data is fetched successfully
    if stock_data.empty:
        print(f"No data available for {ticker} from {start_date} to {end_date}.")
    else:
        print("possible columns: ", stock_data.columns)

        stock_data.reset_index(inplace=True)
        stock_data['Date'] = stock_data['Date'].dt.strftime('%Y-%m-%d')
        # Select only relevant columns
        stock_data = stock_data[['Date', 'Open', 'High', 'Low', 'Close']]
        
        # Save to a CSV file
        file_name = f"{ticker}_25_years_data.csv"
        path = f"./data/{file_name}"
        stock_data.to_csv(path, index=False)
        print(f"Data for {ticker} saved to {file_name}.")
except Exception as e:
    print(f"An error occurred: {e}")

possible columns:  Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'Capital Gains'],
      dtype='object')
Data for SPY saved to SPY_25_years_data.csv.

In [34]:
spy_df = pd.read_csv('data/SPY_25_years_data.csv')

In [35]:
spy_df.head()

         Date       Open       High        Low      Close
0  2000-01-24  92.832365  92.951866  88.848998  89.446503
1  2000-01-25  89.556026  90.462242  88.590060  90.462242
2  2000-01-26  89.864756  90.213300  89.287167  89.745255
3  2000-01-27  90.402508  90.641510  88.032405  89.386749
4  2000-01-28  88.868892  89.267229  86.379288  86.598373