In [1]:
import pandas as pd

In [2]:
spy_df = pd.read_csv('data/SPY_25_years_data.csv')

In [3]:
spy_df.head()

         Date       Open       High        Low      Close
0  2000-01-24  92.832365  92.951866  88.848998  89.446503
1  2000-01-25  89.556026  90.462242  88.590060  90.462242
2  2000-01-26  89.864756  90.213300  89.287167  89.745255
3  2000-01-27  90.402508  90.641510  88.032405  89.386749
4  2000-01-28  88.868892  89.267229  86.379288  86.598373

In [4]:
spy_df.tail()

            Date        Open        High         Low       Close
6282  2025-01-14  584.359985  585.000000  578.349976  582.190002
6283  2025-01-15  590.330017  593.940002  589.200012  592.780029
6284  2025-01-16  594.169983  594.349976  590.929993  591.640015
6285  2025-01-17  596.960022  599.359985  595.609985  597.580017
6286  2025-01-21  600.669983  603.059998  598.669983  603.049988

In [5]:
spy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6287 entries, 0 to 6286
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6287 non-null   object
 1   Open    6287 non-null   float64
 2   High    6287 non-null   float64
 3   Low     6287 non-null   float64
 4   Close   6287 non-null   float64
dtypes: float64(4), object(1)
memory usage: 245.7+ KB

In [6]:
spy_df.describe()

              Open         High          Low        Close
count  6287.000000  6287.000000  6287.000000  6287.000000
mean    182.918149   183.963195   181.774341   182.932886
std     132.996478   133.632920   132.285185   133.014392
min      50.412390    51.933296    49.781765    50.531097
25%      85.026607    85.512881    84.476864    84.977032
50%     111.401150   111.822164   110.841938   111.387985
75%     249.225404   250.164315   247.510458   249.032257
max     605.651585   607.026962   604.983851   605.771179